[Unit]
Description=Petclinic Daemon

[Service]
ExecStart=/usr/lib/jvm/jre-1.8.0/bin/java -jar /opt/remoteFiles/appPackage/spring-petclinic.jar
User=root

[Install]
WantedBy=multi-user.target

